//
//               GENERAL
//
// ====================================

//
// Fonts
// ==============================

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:300,400,500,600,700&subset=latin,latin-ext');

//
// Functions
// ==============================

//Retrieve panke color from variables
@function hiig($key: 'steel') {
    @return map-get($hiig-colors, $key);
}

@function theme-color($key: 'copy') {
    @return map-get($theme-colors, $key);
}

@function scenario-color($key: 'civil-war') {
    @return map-get($scenario-colors, $key);
}

@function size($key: 'copy') {
    @return map-get($font-sizes, $key);
}

@function device-size($key: 'mobile') {
    @return map-get($break-points, $key);
}


//
// Maps and Variables
// ==============================

$hiig-colors: (
    'blue': #0084A8,
    'green': #B0B91D,
    'grey': #949CA1,
    'darkblue': #206D86,
    'yellow': #FEBE10,
    'purpur': #941C79,
    'red': #EE304B,
    'darkgreen': #859D2A
);

$theme-colors: (
    'copy':       #fff,
    'grey':       #707070,
    'small':      #999999,
    'light-grey': #cccccc,
    'primary': hiig('darkblue')
);

$font-sizes: (
    'copy':         11pt,
    'big-copy':     13pt,
    'tagline':      20pt,
    'description':  16pt,
    'title':        24pt,

    'headline':     14pt,
    'big-headline': 30pt,

    'tag':          10pt,
    'big-tag':      16pt,
    'subheader':    11pt,
);

$break-points: (
    'mobile':       760px,
    'tablet':       960px,
    'wide-screen':  1400px
);

$font-regular: 'Open Sans', monospace;
$font-monospace: 'Droid Sans Mono', monospace;


//
// Mixins
// ==============================

// typographically correct uppercase
@mixin uppercase{
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

@mixin explanation{
    font-family: $font-monospace;
    font-size: size('description')
}

@mixin button($solid: true, $white: false, $arrow: 'right', $tag: false){

    @if $tag{
        padding: 10px 15px;
        font-size: size('copy');
    }
    @else{
        padding: 12px 20px;
        font-size: size('big-copy');
    }

    width: max-content;
    align-self: center;

    font-weight: 500;
    font-family: $font-monospace;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;

    @if $arrow != 'none'{

        &:before{
            content: "";
            display: inline-block;
            margin-right: 20px;
            font-size: size('headline');
            width: 10px;
            height: 10px;
            border-style: solid;
            transform: translate(0,-2px) rotate(45deg);

            border-color: white;

            @if $arrow == 'right'{
                border-width: 3px 3px 0 0;
            }

            @if $arrow == 'down'{
                border-width: 0 3px 3px 0;
            }

            @if $arrow == 'left'{
                border-width: 0 0 3px 3px;
            }

            @if $arrow == 'up'{
                border-width: 3px 0 0 3px;
            }
        } // :before
    } // @if

    // Adapt color
    @if $white{
        @if $solid {
            border-color: white;
            background: white;
            color: transparent;
        }
        @else{
            border-color: white;
            color: white;
            background: transparent;

            @if $arrow != 'none'{
                border-color: white;
            }
        }
    }
    @else{
        @if $solid {
            border-color: theme-color('primary');
            background: theme-color('primary');
            color: white;
        }
        @else{
            border-color: theme-color('primary');
            color: theme-color('primary');
            background: transparent;

            @if $arrow != 'none'{
                border-color: theme-color('primary');
            }
        }
    }

}

@mixin device($size: 'S') {
    @if $size == 'S'{
        @media screen and (max-width: device-size('mobile')) { @content }
    }

    @if $size == 'M'{
        @media screen and (min-width: device-size('mobile')) and (max-width: device-size('tablet')) { @content }
    }

    @if $size == 'L'{
        @media screen and (min-width: device-size('tablet')) and (max-width: device-size('wide-screen')) { @content }
    }

    @if $size == 'XL'{
        @media screen and (min-width: device-size('wide-screen')) { @content }
    }
}

//
//               THEME
//
// ====================================

// Prevent scrollbar from changing page width
html {
    width: 100vw;
//    overflow: hidden;
}

body{
    font-family: $font-regular;
    font-size: size('copy');
    color: white;
//    margin: 0 auto;
//    position: relative;
}
//
//@include device('XL'){
//    html{h2
//        background: #666;
//    }
//
//    body{
//        max-width: 1600px;
//    }
//}


// resetting browser styles
* {
    line-height: 1.4em;
//    font-size: size('copy');
}

a{
    color: inherit;
    text-decoration: none;

    &:hover{
        color: theme-color('grey');
        text-decoration: none;
    }

    .colContent &, .disclaimer &, .explanation & {
        text-decoration: underline dotted 2px rgba(white, .4 );
    }
}

button{
    &:not(.functional){
        @include button;
    }

    &.functional{
        border: none;
        background: inherit;
        padding: 0;
    }
}

.light{
    opacity: 0.3;

    &:hover{
        opacity: 0.7;
    }
}

ul{
    padding-left: 20px;

    li{
        list-style-type: none;
        font-weight: 300;

        &:before{
            content: '—';
            display: inline-block;
            margin-left: -20px;
            width: 20px;
            font-weight: 300;
        }
    }
}

.container-fluid{
//    padding: 5vh;

    @include device('S') {
        padding: 20px;
    }
}

// Background
#root{
    background: transparent radial-gradient(
        closest-side at 64% 62%,
        #000000 0%,
        #040E16 57%,
        #08131E 100%
    ) 0% 0% no-repeat fixed;
}

.logotype{
    @include uppercase;

    max-width: 8em;
    text-align: right;
    line-height: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;

    .version{
        line-height: 1em;
        font-size: 0.5em;
        vertical-align: top;
        padding-left: 0.5em;
    }
}

// Intro
.App{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron{
    background: none;
    height: 100vh;
    padding: 40px;

    .container{
        display: flex;
        flex-direction: column;
        height: 100%;

        blockquote{
            max-width: 800px;
            font-size: size('tagline');
            font-weight: 400;
            margin: auto 0;
            flex: auto 0 0;
        }

        h1{
            margin-left: auto;
            font-size: size('title');
        }

        .subtitle{
            @include explanation;
            flex: auto 0 0;
            text-align: right;
            margin-bottom: 4em;
        }

        .more{
            display: inline-block;
            align-self: center;

            button{
                @include button(false, true, down, false)
            }
        }
    }
}

.intro{
    background: linear-gradient(#0000, #000c);
    padding-bottom: 4em;

    h2{
        @include uppercase;

        font-size: size('headline');
        max-width: 70%;
    }

    p{
        font-size: size('copy-big')
    }

    section{
        padding: 4em 0;

        .colContent{
            display: flex;
            flex-direction: column;
        }
    }

    #paper button{
        @include button(false, true);

        align-self: end;
    }

}

// Navigation
.main-nav{
    justify-content: flex-end;
    background: none;
    padding: .8rem 1rem;

    .logotype{
        font-size: 0.6em;
        color: rgba(white, 0.6);
        margin: 0;
    }

    button{
        padding-left: 20px;
    }
}

// Policy Overview
.pick{

    display: flex;
    flex-direction: column;
    height: 100vh;

    .container{
        height: 100%;
        padding-bottom: 10vh;

        .row{
            height: 100%;
        }

        .col{
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    h1{
        @include explanation;
        flex: auto 0 0;
        text-align: left;
        margin: auto 0;
    }

    .platforms{
        display: flex;
        flex-direction: column;
        flex: auto 0 0;

       .platform{
            display: flex;
            flex-direction: row;

            p{
                @include uppercase;
                width: 10em;
                align-self: center;
            }

            ul{
                display: flex;
                flex-direction: row;

                list-style: none;

                li{
                    @include button(false, true, none, true);

                    margin-right: 2em;
                    opacity: 0.5;

                    &:before{
                        content: ''
                    }

                    &:hover{
                        opacity: 1;
                    }
                }
            }

        }
    }
}

// Pages
.pageContent{
    $padding-left: 15px + 20px + 40px; //.col ul li
    padding: 20px 60px 20px $padding-left;

    .type{
        @include uppercase;

        opacity: 0.6;
        font-size: size('tag');
        margin-bottom: 5px;
        margin-top: 40px;

        &:first-child{
            margin-top: 0;
        }
    }

    h2{
        font-size: size('big-copy');
        font-weight: 500;
        margin-bottom: 5px;
    }

    p, ul{
        font-size: size('tag') !important;
        font-weight: 300;
        margin-bottom: 20px;
    }
}

// Foooter
footer{
    margin-top: 100px;

    .disclaimer{
        color: theme-color('small');
        font-size: size('tag');
    }

    .logo{
        width: 50%;
        padding-left: 15px;
    }

}

// Print view

// when printed only

@media print{

    *{
        font-size: 10pt;
    }

    .container-fluid{
        padding: 0;
        margin: 0;
    }

    .main-nav{
        display: none;
    }

    .phases{
        page-break-before: always;
    }

    .scenarioHeader .scenario {
        padding: 10vh 5vh 10vh 0;
    }

    .useCases .useCase .left{
        max-width: 58%;
        flex: 0 0 58%;
        margin-right: -10%;

        .title{
            max-width: 550px;
            font-size: 16pt;
        }
    }

}

// Also when viewed in the browser

.print{
    .exploreScenario button,
    .phasesOverview button,
    .phases.repeated{
        display: none;
    }
}
